@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles */
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  font-weight: 600px;
  font-size: 1.25rem;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
}

/* header styles */

/* navbar related styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.nav {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li:first-child {
  padding-left: 0;
}

nav ul li:last-child {
  padding-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500px;
  font-size: 1.2rem;
}

nav h3 {
  color: #131313;
  font-weight: bold;
  font-size: 3rem;
}

/* banner related styles */
.banner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  /* width: 70%; */
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
  color: rgba(19, 19, 19, 1);
  padding-bottom: 32px;
}

.banner-description {
  font-weight: 400px;
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
  padding-bottom: 32px;
}

.banner img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}

.banner button {
  margin-bottom: 50px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* teams and feature related styles */
.teams {
  display: flex;
  align-items: center;
  padding: 85px 20px 130px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-img-container img {
  width: 100%;
  border-radius: 8px;
}

.our-features {
  max-width: 537px;
  padding-left: 73px;
}

.feature-title {
  font-weight: 700px;
  font-size: 2.8rem;
  color: rgba(19, 19, 19, 1);
  padding-bottom: 24px;
}

#quick-list {
  color: rgba(114, 114, 114, 1);
  font-weight: 500;
}

#features {
  color: #ff900e;
}

.feature-description {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
  padding-bottom: 32px;
}

/* features related styles */
.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.feature-content {
  width: 45%;
}

.feature-img {
  width: 45%;
}

.features img {
  width: 100%;
}

#feature-description {
  max-width: 580px;
}

#feature-title {
  border-left: 5px solid #ff900e;
  padding-bottom: 0;
  margin-bottom: 30px;
  padding-left: 20px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}

.feature-card-title {
  color: rgba(19, 19, 19, 1);
  font-weight: 600px;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.feature-card-description {
  color: rgba(114, 114, 114, 1);
  font-weight: 400;
  font-size: 1rem;
}

#experience-badge {
  padding: 45px 42px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: -92px;
  margin-top: -130px;
}

.experience-year {
  font-weight: 700;
  font-size: 4rem;
}

/* some facts related styles */
.facts-title,
.sponsor-title {
  color: rgba(19, 19, 19, 1);
  font: bold;
  font-size: 2.8rem;
  padding-bottom: 24px;
}

.facts-description {
  color: rgba(114, 114, 114, 1);
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 100px;
  max-width: 540px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0px 20px;
}

.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  color: rgba(66, 66, 66, 1);
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(114, 114, 114, 1);
  margin-top: 10px;
}

/* our sponsors related styles */
.sponsor-description {
  color: rgba(114, 114, 114, 1);
  font-weight: 400;
  font-size: 1rem;
}

.sponsor-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 50px;
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* responsive media query */

/* responsive media query for small devices */
@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
    gap: 50px;
  }
  .nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 20px 0px;
  }

  .teams,
  .features {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }

  .our-features {
    margin-left: 20px;
  }

  .facts-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
  }

  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .feature-content {
    width: 100%;
  }

  .feature-img {
    width: 100%;
  }
}

/* responsive media query for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }

  .our-features {
    padding: 0;
    margin: 50px auto;
  }

  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }

  .facts-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .feature-content {
    width: 100%;
  }

  .feature-img {
    width: 100%;
  }
}
